<!DOCTYPE html>
<html>

<head>
    <title>Options Selector</title>
</head>

<body>
    <h1>Select an Option:</h1>
    <form method="post" action="/input_vote">
        <label for="option">Select an option:</label>
        <select name="option" id="option">
            <option value="Congress">Congress</option>
            <option value="BJP">BJP</option>
            <option value="AAP">AAP</option>
            <option value="BSP">BSP</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>